* {
    padding: 0px;
    margin: 0px;
}

/*Start the header*/
.header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header h1 {
    size: 40px;
    color: rgb(245, 232, 51);
    padding: 4px 10px;
    font-family: American Typewriter !important;
}

.header nav ul {
    margin: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header a {
    color: rgba(245, 232, 51, 0.75);
    font-weight: bold;
    text-decoration: none;
    padding: 0 15px 0 15px;
    font-size: 18px;
    align-items: center;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: American Typewriter, serif;
}

.header a:hover {
    background-color: rgba(245, 232, 51, 0.50);    color: darkgray;
    box-shadow: 0 0 10px white;
}
/*End the header*/

/*Start the hero*/
.hero {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero img {
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;

}

.hero h2 {
    font-size: 32px;
    color: rgba(245, 232, 51, 0.75);
    padding: 10px 0 10px 0;
}

.hero div p {
    color: azure;
    font-size: 20px;
    padding: 10px 0 10px 0;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me {
    width: 50%;
    margin: 10px;
}

.about-me ul li {
    list-style: none;
    color: azure;
}

.about-me ul li::before {
    content: "🏋️";
}

.about-me ul li:hover::before {
    content: "⛰️";
}

/*end the hero*/

/*My work section*/

.my-work {
    background-color: black;
}

.work-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
}

.my-work h2 {
    font-size: 32px;
    color: rgba(245, 232, 51, 0.75);
    padding: 10px 10px;
    justify-content: center;
    display: block;
}

.python-skill {
    border: 1px solid rgba(245, 232, 51, 0.75);
    border-radius: 30px;
    margin: 5px 10px;
    width: 30%;
    min-height: 240px;
    background-color: cadetblue;
}

.head-liner {
    border: 1px solid rgba(245, 232, 51, 0.75);
    border-radius: 30px;
    margin-left: 30%;
    background-color: brown;
    width: 60%;
    min-height: 450px; 
    flex-grow: 2
}

.work-tiles h3 {
    padding: 15px 15px;
    
}

.work-tiles a {
    color: black;
    text-decoration: none;
}

.javascript {
    border: 1px solid rgba(245, 232, 51, 0.75);
    border-radius: 30px;
    margin: 5px 10px;
    width: 30%;
    min-height: 240px;
    background-color: blue;
    flex-grow: 1;
}

/*My work end*/

/*Footer start*/
.footer {
    background-color: black;
    padding: 10px;
}

.footer h2 {
    font-size: 26px;
    padding: 5px 5px;
    color: rgba(245, 232, 51, 0.75);
}

.footer li {
    font-size: 20px;
    padding: 2px 0 2px 5px;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

/*Footer end*/

/*media query*/
@media only screen and (max-width: 600px){
    .about-me {
        width: 85%;
        padding: auto;
    }
    
    .about-me p {
        text-align: center;
    }

    .work-tiles {
        align-items: center;
        justify-content: space-around;
    }

    .head-liner {
        margin: auto;
        width: 75%;
        flex-grow: 1;
    }

    .python-skill {
        width: 65%;
    }

    .mobileapp {
        width: 65%;
    }
}